@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body.windows-linux {
    @apply antialiased;
  }

  body.mac {
    @apply subpixel-antialiased;
  }

  :root[player-style="default"] {
    --player-height: 96px;
    --fs-player-height: 96px;
    --grid-player: minmax(250px, 1fr) 2fr minmax(0px, 1fr);
  }

  :root[player-style="slim"] {
    --player-height: 64px;
    --fs-player-height: 64px;
    --grid-player:  minmax(250px, 1fr) 2fr minmax(0px, 1fr);
  }

  :root[player-style="floating"] {
    --player-height: 12px;
    --fs-player-height: 104px;
    --grid-player: auto 1fr auto;
  }

  :root {
    --header-height: 44px;
    --sidebar-width: 280px;
    --mini-sidebar-width: 48px;
    --content-height: calc(100vh - var(--header-height) - var(--player-height));
    --fs-content-height: calc(100vh - var(--header-height) - var(--fs-player-height));
    --drawer-height: calc(100vh);

    --shadow-header-height: 80px;
    --shadow-header-distance: calc(var(--shadow-header-height) + 1.5rem);

    --toastify-toast-top: calc(var(--header-height) + 0.25rem);
    --toastify-toast-container-height: calc(var(--shadow-header-height) - 0.5rem);

    --windows-red: hsl(5, 75%, 44%);
  }

  :root .fullscreen {
    --header-height: 0px;
    --drawer-height: 100vh;
    --content-height: 100vh;
    --fs-content-height: 100vh;
    --vertical-shift: var(--fs-player-height);
  }

  :root .fullscreen.idle {
    --vertical-shift: 0px;
  }

  :root .miniplayer {
    --header-height: 0px;
    --drawer-height: 100vh;
    --content-height: 100vh;
    --fs-content-height: 100vh;
  }
}

.fullscreen .app-header {
  display: none;
}

.idle .player-idle-hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.fullscreen .hide-in-fullscreen {
  display: none;
}

.idle.fullscreen .hide-in-fullscreen-idle {
  opacity: 0;
}

.idle .hide-on-idle {
  display: none;
}


@media screen and (max-width: 780px) {
  :root {
    --header-height: 0px !important;
    --player-height: 64px !important;
    --grid-player: minmax(250px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(250px, 1fr) !important;
  }
}

body,
html {
  background-color: var(--system-body);
}

.Toastify__toast-container {
  padding: 0px !important;
}

.Toastify__progress-bar--wrp {
  height: 3px !important;
}

#root {
  @apply select-none cursor-default;
}

div,
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.html a,
.link {
  @apply text-primary underline break-words;
}

.html li {
  @apply list-disc ml-8;
}

.html strong,
.html b {
  @apply font-semibold;
}

.html strong:not(a strong),
.html b:not(a b) {
  @apply text-foreground;
}

.html p,
.html li:not(li a) {
  @apply text-foreground;
  opacity: 0.8;
}

.html img {
  @apply my-2 max-w-full rounded;
}

.html code {
  @apply bg-background text-muted-foreground px-1.5 py-0.5 rounded border text-sm font-mono;
}

.player-button-active {
  @apply after:content-['•'] after:block after:absolute after:-bottom-1 after:text-primary;
}

.mini-player-button-active {
  @apply after:content-['•'] after:block after:absolute after:-bottom-1.5 after:text-secondary-foreground !text-secondary-foreground;
}

.bg-skeleton {
  @apply bg-accent;
}

.required {
  @apply after:content-['*'] after:text-destructive after:ml-1;
}

.main-drawer {
  @apply w-screen;
  @apply z-30;
  @apply bg-background-foreground;
}

#main-command {
  @apply [&_[cmdk-group-heading]]:px-2;
  @apply [&_[cmdk-group-heading]]:font-medium;
  @apply [&_[cmdk-group-heading]]:text-muted-foreground;
  @apply [&_[cmdk-group]:not([hidden])_~[cmdk-group]]:pt-0;
  @apply [&_[cmdk-group]]:px-2;
  @apply [&_[cmdk-input-wrapper]_svg]:h-5;
  @apply [&_[cmdk-input-wrapper]_svg]:w-5;
  @apply [&_[cmdk-input]]:h-12;
  @apply [&_[cmdk-item]]:px-2;
  @apply [&_[cmdk-item]]:py-3;
  @apply [&_[cmdk-item]_svg]:h-4;
  @apply [&_[cmdk-item]_svg]:w-4;
}

.yarl__toolbar {
  @apply !top-header;
}

.yarl__container {
  @apply !bg-black/70;
}

.yarl__root.yarl__portal_open .yarl__slide {
  @apply animate-in zoom-in fade-in duration-300;
}

.yarl__slide_image {
  @apply shadow-2xl -shadow-spread-2 shadow-y-[3px] rounded-lg;
}

.rfm-marquee {
  @apply overflow-hidden;
}

/* Native Scroll Bar */
::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--border) transparent;
}

.default-ring {
  @apply focus-visible:outline-none ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
}

.user-dropdown-trigger {
  @apply rounded-full default-ring;
}

.user-dropdown-trigger[data-state="open"]> :first-child {
  @apply bg-accent;
}

#update-info-body ul {
  @apply list-disc list-inside;
}

#update-info-body h1,
#update-info-body h2,
#update-info-body h3,
#update-info-body h4,
#update-info-body h5 {
  @apply font-semibold text-foreground;
}

svg#bars {
  @apply overflow-hidden rotate-180 -scale-x-100;
}

svg#bars .eq-bar {
  @apply transform-gpu will-change-transform origin-top;
}

svg#bars .eq-bar--1 {
  animation: eq-1 0.6s infinite 0s;
}

svg#bars .eq-bar--2 {
  animation: eq-2 0.6s infinite 0.07s;
}

svg#bars .eq-bar--3 {
  animation: eq-3 0.6s infinite 0.14s;
}

svg#bars .eq-bar--4 {
  animation: eq-4 0.6s infinite 0.07s;
}

@keyframes eq-1 {

  0%,
  100% {
    transform: scaleY(0.4);
  }

  50% {
    transform: scaleY(0.8);
  }
}

@keyframes eq-2 {

  0%,
  100% {
    transform: scaleY(0.9);
  }

  50% {
    transform: scaleY(0.4);
  }
}

@keyframes eq-3 {

  0%,
  100% {
    transform: scaleY(0.7);
  }

  50% {
    transform: scaleY(1);
  }
}

@keyframes eq-4 {

  0%,
  100% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(1);
  }
}

@keyframes lyric-glow {
  0% {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  }
  50% {
    text-shadow: 0px 0px 10px var(--lyric-color);
  }
  100% {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  }
}

@keyframes lyric-one-line-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#sync-lyrics-box-left,
#sync-lyrics-box-center,
.lrc-box,
.no-scrollbar {

  /* webkit */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* firefox */
  scrollbar-width: none;
}

.font-lyrics,
.font-lyrics * {
  font-family: var(--theme-lyrics-font);
}

#sync-lyrics-box-left .lyric-mainline  {
  @apply ml-[7%] max-w-[70%] text-balance;
}

#sync-lyrics-box-center .lyric-mainline {
  @apply w-fit m-auto max-w-[80%] text-balance;
}

.lyric-wipe {
  background: linear-gradient(to right,
    var(--lyric-color) 20%,
    color-mix(in hsl, var(--lyric-color) 20%, rgba(255, 255, 255, 0.4) 80%) 30%,
    color-mix(in hsl, var(--lyric-color) 20%, rgba(255, 255, 255, 0.4) 80%) 70%,
    var(--lyric-color) 80%);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  background-position: 50% 50%;
}

.lyric-wipe-active {
  transition: background-position;
  background-position: 0% 50%;
  animation: lyric-glow 2s forwards;
}

.lyrics-one-line .lyric-line-active.lyric-mainline {
  animation: lyric-one-line-in 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.lyric-wipe-active.lyric-glow-disabled {
  animation: none !important;
  text-shadow: none !important;
}

.lyrics-bottom .lyric-subline {
  margin-bottom: 0 !important;
}

.default-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.212) 100%);
}

.secondary-thumb-bar {
  @apply bg-foreground hover:bg-foreground;
}

@media all and (display-mode: picture-in-picture) {

  body,
  html {
    @apply w-full h-full overflow-hidden p-0 m-0;
  }
}

div[data-test-id="table-row"][data-state="selected"],
div[data-test-id="table-row"].row-active,
div[data-test-id="table-row"]:hover {

  & a,
  & span {
    @apply text-foreground;
  }
}

@keyframes albumArtAnimation {
  0% {
    transform: scale(1.1);
    filter: brightness(1.1) blur(4px);
  }

  100% {
    transform: scale(1);
    filter: brightness(1) blur(0px);
  }
}

@keyframes mainPageAnimation {
  0% {
    transform: scale(1.02);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes cardStaggerAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.album-art-animation {
  animation: albumArtAnimation 0.6s forwards;
}
